/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navigation Menu */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #007BFF, #00BFFF);
    color: #fff;
    z-index: 1000;
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .logo h1 {
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #FFD700;
}

/* Sections */
main {
    padding-top: 60px; /* Adjust this based on the height of the navbar */
}

section {
    padding: 50px 20px;
    min-height: 100vh;
}

section:nth-child(odd) {
    background-color: #f4f4f4;
}

section:nth-child(even) {
    background-color: #e2e2e2;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}
